[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus.git
[submodule "third_party/libwebm"]
	path = third_party/libwebm
	url = https://github.com/webmproject/libwebm.git
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://github.com/webmproject/libvpx.git
